/* 
HEADING
font-family: 'Poppins', sans-serif;

BODY
font-family: 'Open Sans', sans-serif;

COLORS
- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%) 
*/

html {
    background-color: hsl(257, 40%, 49%);
    color: white;
}

.header {
    font-family: "Poppins", sans-serif;
    padding-bottom: 0;
    font-weight: 600;
}

.description {
    font-family: "Open Sans", sans-serif;
    padding-top: 0;
}

.facebook,
.twitter,
.insta {
    width: 18px;
    border: black solid 1px;
    border-radius: 50%;
    padding: 10px;
    filter: invert(100%);
}

.facebook:hover,
.twitter:hover,
.insta:hover {
    filter: invert(83%) sepia(10%) saturate(6858%) hue-rotate(238deg)
        brightness(93%) contrast(96%);
    cursor: pointer;
}

.button {
    background-color: white;
    color: hsl(257, 40%, 49%);
    width: fit-content;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 10px 50px;
    border-radius: 50px;

    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.71);
}

.button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 420px) {
    /* MOBILE DISPLAY */
    .desktop {
        display: none;
    }

    .mobile {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    html {
        width: 100%;
        height: 100%;
        display: flex;
    }

    body {
        margin: auto;
    }

    .container {
        position: relative;
        display: grid;
        grid-template-columns: 270px;
        grid-template-rows: 70px 200px 320px;
        grid-template-areas:
            "l"
            "p"
            "c";

        text-align: center;
        padding-top: 30px;
        padding-bottom: 50px;
        zoom: 0.9;
    }

    .logo {
        width: 40%;
        grid-area: l;
    }

    .illustration {
        width: 250px;
        justify-self: center;
        grid-area: p;
    }

    .content {
        grid-area: c;
    }

    .header {
        font-size: 20px;
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .description {
        font-size: 14px;
        padding: 0px 4px;
    }

    .button {
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        padding: 8px 60px;
        font-size: 14px;
    }

    .facebook,
    .twitter,
    .insta {
        width: 15px;
        padding: 7px;
    }

    .facebook,
    .twitter {
        margin-right: 5px;
    }
}

@media screen and (min-width: 421px) {
    /* DESKTOP DISPLAY */
    html {
        height: 100%;
        width: 100%;
        display: flex;
    }

    body {
        margin: auto;
    }
    .mobile {
        display: none;
    }

    .desktop {
        position: absolute;
        top: 0;
        height: 100%;
    }

    .container {
        display: grid;
        grid-template-columns: 720px 550px;
        grid-template-rows: 100px 550px 50px;
        grid-template-areas:
            "h ."
            "m t"
            ". i";
        position: relative;
    }

    .logo {
        grid-area: h;
        width: 220px;
        padding-top: 0px;
    }

    .header {
        grid-area: h;
        font-size: 40px;
        margin-top: 30px;
    }

    .illustration {
        grid-area: m;
    }

    .content {
        grid-area: t;
        padding: 10px 40px;
    }

    .icons {
        grid-area: i;
    }

    .description {
        line-height: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .facebook,
    .twitter,
    .insta {
        margin-right: 10px;
    }

    .icons {
        justify-self: right;
        margin-right: 20px;
    }
}
